body {
    display:flex;
    flex-direction: column;
    min-height: 250vh;
    font-family: Roboto, sans-serif;
}
/*header code*/
.header {
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    
    flex-basis: 33px;
    
}
.nav{
    display: flex;
    background-color: #1F2937;
   
    
}

.nav1{
    flex: 1;
    justify-content: left;
    padding:10px;
     color:white;
     font-weight: 600;
     font-size: 28px;
}
.nav2{
    display: flex;
    flex: 1;
    justify-content: right;
     font-weight: 600;
     font-size: 28px;
}
ul{
    margin:0;
    padding:0;
    list-style-type: none;
    display:flex;
    flex:1;
    justify-content: center;

    
}
li{
    padding:10px;
    
    
   }
a {
    text-decoration: none;
     color:white;
}

.content{
    display:flex;
    flex-direction: column;
   
    flex-grow: 1;
    flex-basis: 33px;
}
/* below nav code */
.belownav{
    display:flex;
    flex:2 1 0;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:white;
    
    

}
.belownav1{
    
    flex-direction: column;
    
    align-items: left;
    
    flex:1 1 0;
    margin-left: 100px;
      
   
}
.belownav1 .titlep{
    font-size: 48px;
    color: #e5e7eb;
    font-weight: 900;
    margin-bottom: 0;
    
}
.belownav1 p{
     font-size: 18px;
    color: #F9FAF8;
    
}
.belownav1 button{
     background-color: #3882F6;
     color:white;
     padding:10px;
     border-radius: 15px;
     margin:0;
     padding:10px;
     font-size: 16px;
     
    
    
}
.belownav2{
    display: flex;
    justify-content: center ;
    flex:1 1 0;

}
.belownav2 img{
    width:auto;
    height: auto;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*midsection code*/
.midsection{

    display: flex;
    flex:2 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.midtitle{
    font-size: 48px;
    font-weight: 900;
    color:#1F2937;

}
.cards{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:100px;
    margin-top:70px;
    margin-bottom:20px;
    flex:1;
   
    

    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    padding:10px;
   
    border: 3px solid #3882F6;  
}
.card p{
    flex-wrap: wrap;
}
img {
  width: 100px;
  height: 100px;
}
.message{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex:1;
    background-color: #e5e7eb;
    width:100%;
    margin-top: 50px;
}
.message p{
    width: 1000px;
    font-size: 36px;
    font-weight: 300px;
}
.call-to-action{
    flex:2 1 0;
    display:flex;
    
}
.blue-box{
    display: flex;
   
    gap:100px;
    justify-content: center;
    align-items: center;
    background-color:#3882f6;
    margin-top: 150px;
    margin-bottom:150px;
    flex: 2 1 0%;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 50px;
    padding-right:50px;
    border-radius: 15px;
}
.wording{
    flex-direction: column;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}
.buton{
    flex-direction: column;
    flex:2 1 0;
    align-items: left;
    justify-content: left;
}
.blue-box p{
    display: flex;  
    color:white;    
}
.wording-title{
    font-size: 20px;
    font-weight: 800;
}
.wording-paragraph{
    font-size: 17px;
    font-weight: 300;
}
.blue-box button{
    
    padding:10px;
    font-size: 20px;
    font-weight: 800;
    color:white;
    background-color: #3882f6;
    border: 3px solid white;
    border-radius: 10px;
    flex:1;
    justify-content: left;
    align-items: left;
}


.footer{
    display:flex;
    
    
   
    flex-shrink: 0;
    background-color: #1F2937;
    
}
.call-to-action{
    display:flex;
    justify-content: center;
}
.call-to-action p{
    flex:1;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    color:white;
    font-weight: 900;
    font-size: 16px;
}


